main {
    width: 50%;
}

input[type="text"] {
    padding: 8px 10px;
}

select {
    padding: 8px;
}

main p {
    font-size: 1.25rem;
}

main section .validatorContainer .validator {
    color: #e53e3e;
    font-size: 0.875rem;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 8px;
    animation: fadeIn 0.3s ease-in-out;
}

main section .validatorContainer {
    margin-bottom: 10px;
    position: relative;
    top: -10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}