main {
    display: flex;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 60px;
    width: 90%;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    
}

    main h1 {
        font-size: 2rem;
        color: #0d47a1;
        margin-bottom: 30px;
    }

    main h2 {
        color: #1a237e;
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 1.3rem;
        border-bottom: 2px solid #1a237e20;
        display: inline-block;
        padding-bottom: 5px;
    }

    main a {
        margin: 6px 10px;
        padding: 10px 25px;
        border-radius: 12px;
        background: rgba(21, 101, 192, 0.2);
        text-decoration: none;
        color: #0d47a1;
        font-weight: 500;
        transition: all 0.2s ease;
    }

        main a:hover {
            background: rgba(21, 101, 192, 0.4);
            color: white;
            transform: scale(1.05);
        }

    main .gridRowMenu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 6rem;
    }
        main .gridRowMenu .gridRowElement {
            display: flex;
            flex-direction: column;
        }