main .sectionTurnosMedicosCant {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information {
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
}

#gvTurnos {
    width: 80%;
    min-width: 900px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.15);
}

    #gvTurnos th {
        background: #0078d4;
        color: #fff;
        font-weight: bold;
        text-align: left;
        padding: 10px;
    }

    #gvTurnos td {
        padding: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: #000;
    }

    #gvTurnos tr:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    #gvTurnos input[type="button"] {
        background: #0078d4;
        width: 100%;
        color: white;
        padding: 6px 12px;
        border: none;
        border-radius: 6px;
        font-size: 13px;
        cursor: pointer;
        transition: 0.2s ease;
    }

.calendar{
    width: 200px;
}

#clTurnos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    text-align: center;
}

    #clTurnos th {
        background-color: #1d6fa5;
        color: white;
        padding: 12px;
        font-weight: 600;
        font-size: 1rem;
        border-bottom: 2px solid #155b83;
    }

    #clTurnos td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        color: #2c3e50;
    }

    #clTurnos tr:nth-child(even) {
        background-color: #f4f9fd;
    }

    #clTurnos tr:hover {
        background-color: #e3f2fd;
        transition: background-color 0.3s ease;
    }

    #clTurnos input[type="button"],
    #clTurnos button {
        background-color: #1d6fa5;
        color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 0.9rem;
        transition: all 0.3s ease;
    }

        #clTurnos input[type="button"]:hover,
        #clTurnos button:hover {
            background-color: #155b83;
        }